{% load markup %}
{% load accessible %}
{% load getlabresponse %}
{% if block.label %}<h3>{{block.label}}</h3>{% endif %}

{% ifsubmitted block %}

{{block.description|markdown}}

<table cellpadding="0" cellspacing="0" class="labtests">
  <tr>
    <th class="submitstate">TEST</th>
    <th colspan="3" class="grey centered submitstate">RESULT</th>
    <th class="submitstate">RANGE</th>
    <th class="grey submitstate">UNIT</th>
    <th colspan="2" class="centered submitstate">ABNORMALITY</th>
  </tr>

  <tr>
    <th>&nbsp;</th>
    <th class="grey">&nbsp;</th>
    <th class="grey yours">Your Response:</th>
    <th class="grey expert">Expert's Response:</th>
    <th>&nbsp;</th>
    <th class="grey">&nbsp;</th>
    <th class="yours">Your Response:</th>
    <th class="expert">Expert's Response:</th>
  </tr>

{% for test in block.test_set.all %}
{% gettestresponse test as tr %}
  <tr>
    <td>
      {{test.name}}
    </td>
    <td class="grey">
      {{test.result}}
    </td>
    <td class="grey yours">
      {{tr.result_level|capfirst}}
    </td>
    <td class="grey expert">
      {{test.result_level|capfirst}}
    </td>
    <td>
      {{test.normal_range}}
    </td>
    <td class="grey">
      {{test.unit}}
    </td>
    <td class="yours">
      {{tr.abnormality|capfirst}}
    </td>
    <td class="expert">
      {% ifnotequal test.abnormality 'none' %}
        {{test.abnormality|capfirst}}
      {% else %}
        No abnormality
      {% endifnotequal %}
    </td>
  </tr>
{% endfor %}
</table>

{% getactionplanresponse block as apr %}
{% if block.assessment %}
<h3>What is your assessment of this child?</h3>
<p class="yours"><b>Your assessment:</b> {{apr.assessment}}</p>
{% comment %}<p class="expert"><b>Expert assessment:</b></p>{% endcomment %}
{% endif %}


<h3>Action Plan:</h3>
{% if block.sickvisit %}
  <p class="yours">
  {% if apr.action_plan %}
    <b>Your response:</b> {{apr.action_plan}}
  {% else %}
     You’ve not indicated your action plan.
{% endif %}
</p>
<p class="expert"><b>Expert's response:</b> {{block.correct_actionplan}}</p>
{% else %}
  <p class="yours">
  {% if apr.action_plan %}
    <b>Your response:</b> {{apr.action_plan}}
  {% else %}
     <b>You’ve not indicated your action plan.</b>
{% endif %}
<p class="expert"><b>Expert's response:</b> {{block.correct_actionplan}}</p>
{% endif %}



{% else %}




{{block.description|markdown}}

<table cellpadding="0" cellspacing="0" class="labtests">
  <tr>
    <th>TEST</th>
    <th colspan="2" class="grey centered">RESULT</th>
    <th>RANGE</th>
    <th class="grey">UNIT</th>
    <th class="centered">ABNORMALITY</th>
  </tr>

{% for test in block.test_set.all %}
  <tr>
    <td>
      {{test.name}}
    </td>
    <td class="grey">
      {{test.result}}
    </td>
    <td class="grey">
      <select name="pageblock-{{block.pageblock.id}}-result-{{test.id}}" class="form-control">
	<option value="unselected" selected="selected">Please select:</option>
	<option value="low">Low</option>
	<option value="normal">Normal</option>
	<option value="high">High</option>
      </select>
    </td>
    <td>
      {{test.normal_range}}
    </td>
    <td class="grey">
      {{test.unit}}
    </td>
    <td>

      <div class="abnormality-select hs-hide" id="pageblock-{{block.pageblock.id}}-abnormality-select-{{test.id}}">
      <select name="pageblock-{{block.pageblock.id}}-abnormality-{{test.id}}"
	      id="pageblock-{{block.pageblock.id}}-abnormality-{{test.id}}" class="form-control">
      {% for abnormality in block.all_abnormalities %}
        {% ifequal abnormality "unselected" %}
          <option value="unselected" selected="selected">Please select:</option>
        {% else %}
          <option value="{{ abnormality }}">{{abnormality|capfirst}}</option>
        {% endifequal %}
      {% endfor %}
      </select>
      </div>
    </td>
  </tr>
{% endfor %}
</table>
{% if block.assessment %}
<h3>What is your assessment of this child?</h3>
<textarea class="form-control assessment-note" rows="4" name="pageblock-{{block.pageblock.id}}-assessment">
</textarea>
{% endif %}


<h3>Action Plan:</h3>
<ul class="actionplan">

{% if block.sickvisit %}
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Prescribe treatment" />Prescribe treatment</label></li>
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Refer for further tests" />Refer for further tests</label></li>
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Reassure and send home" />Reassure and send home</label></li>
{% else %}
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Situation urgent. Call or admit patient immediately" />Situation urgent. Call or admit patient immediately</label></li>
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Situation needs follow-up. Call patient within a week" />Situation needs follow-up. Call patient within a week</label></li>
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Flag for review at following visit" />Flag for review at following visit</label></li>
  <li><label><input type="radio"
	     name="pageblock-{{block.pageblock.id}}-action-plan" 
	     value="Call patient's mother to say the results were normal" />Call patient's mother to say the results were normal</label></li>
{% endif %}
</ul>
{% endifsubmitted %}

