{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block usernav %}{% endblock %}
{% block first-column %}hide{% endblock %}
{% block second-column %}col-md-12{% endblock %}
{% block content %}
  {% if form.errors %}
      <h1 class="top-pagetitle">Something is wrong with your login...</h1>
      <p>
          You may have typed an invalid username or password.<br />
          Please try again. Note that both username and password are case-sensitive.
      </p>
      <p>
      If you are having trouble logging in, please send us an email.
      </p>
  {% else %}
      <h1 class="top-pagetitle">Have you logged in yet?</h1>
      <p>
          Please log in with your Columbia UNI or Guest ID to access the lab exercises in Pedialabs.<br /> If you are having trouble logging in, please send us an email.
      </p>
  {% endif %}

<div class="loginbox-container columbia">
    <div class="loginbox">
        <div class="content">
            {% if CAS_BASE %}
                <form method="get" action="{{ CAS_BASE }}cas/login">
                    {% csrf_token %}
                    <input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/caslogin/?next={{ next|urlencode }}" />
                    <p>If you have a Columbia University Network ID (UNI)...</p>
                    <input class="regbutton" type="submit" value="Columbia Log In" />
                </form>
            {% endif %}
            
            <hr class="seperator" />
        
            <p>If you have a guest account...</p>
            <form id="login-local" name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                    <div class="fieldwrapper">
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                    </div><!-- fieldwrapper -->
                
                    <div class="fieldwrapper">
                        <label for="id_password">Password:</label>
                        {{ form.password }}
                    </div><!-- fieldwrapper -->
                </div>      
                <input class="regbutton" type="button" value="Guest Log In" {% if form.errors %}style="display: none"{% endif %}
                    onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
                <input class="regbutton login-local-form" type="submit" value="Log In" {% if not form.errors %}style="display: none;"{% endif %} />                        
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block loginbox %}{% endblock %}
