html {
  background-color: #efefef;
}

body {
  background-color: #efefef;
  height: 100%;
}

body > .container {
  min-height: 100%;
}

#content {
  min-height: 100%;
}

a
{
  color: #c60;
  text-decoration: none;
}

a:hover
{
  color: #c00;
  text-decoration: none;
}

a:active
{
  color: #c00;
  text-decoration: none;
}

a:visited
{
  color: #c60;
  text-decoration: none;
}

p {
  line-height: 140%;
  margin-bottom: 14px;
}

h4 {
  line-height: 130%;
}

/* NAV BAR NEAR TOP PAGE BANNER */

.navbar-pl {
  background-color: #c33;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 20px;
}

.navbar-pl a {
  color: #fae2b6 !important;
}

.navbar-pl a:hover {
  color: #fff !important;
}

.navbar-pl a:hover .glyphicon-home {
  color: #fae2b6 !important;
}

.navbar-pl .navbar-toggle {
  border: 0;
  color: #000;
}

.navbar-pl .navbar-toggle:hover {
  background-color: #fae2b6;
  border: 0;
  color: #000;
}

.navbar-pl .navbar-toggle:hover .icon-bar {
  background-color: #000;
}

.navbar-nav-pl {
  margin: 0;
  padding: 0;
}

.navbar-nav-pl>li>a {
  font-size: 13px;
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav-pl>li>a.btn-log-in {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  font-weight: 500;
  color: #fff !important;
}

.navbar-nav-pl .tooltip-inner {
  white-space: nowrap;
}

.navbar-nav-pl>li>a.btn-log-in:hover {
  background-color: #fef0c1;
  color: #c33 !important;
}

li.logged-in-greeting {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border-right: 1px solid #fae2b6;
}

li.logged-in-greeting a {
  margin: 0;
  padding: 0;
  display: inline;
}

li.logged-in-greeting a span div {
  white-space: nowrap !important;
}

.container-header,
.container-pl,
.container-banner { 
  padding: 0;
}

.content {
  background-color: #fff;
  padding: 10px 15px 50px 15px;
  box-shadow: 0 8px 8px -8px #333;
  border-bottom: 1px solid #9c9c9c;
  min-height: 600px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 200;
  padding-top: 8px;
  padding-bottom: 10px;
}

.navbar>.container .navbar-brand {
  margin-left: -5px;
}

.banner-pl {
  background-color: #fef0c1;
  border: 0;
  border-bottom: 1px solid #ffe082;
  height: 90px;
  margin: 0;
  padding: 0;
}

.banner-pl-bg {
  background: url('/media/img/bg-banner.png') center center no-repeat;
  height: 90px;
  border-bottom: 1px solid #fbba42;
}

.logo-pl {
  background: url('/media/img/bg-logo-pl.png') 10px 5px no-repeat;
  width: 393px;
  height: 86px;
}

.logo-pl a {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 393px;
  height: 86px;
}

.logo-pl a span {
  display: none;
}

.index-toc {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.index-toc li {
  background: url('/media/img/bullet-index.png') 0px 4px no-repeat;
  padding: 0 0 0 28px;
  margin: 0;
  list-style: none;
  height: 30px;
  line-height: 30px;
}

.admin-toc li {
  background: url('/media/img/bullet-index-admin.png') 0px 4px no-repeat;
}

.top-pagetitle {
  margin: 28px 0 20px 0;
  color: #c00;
  font-size: 32px;
}

.parent-module
{
  font: normal 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  margin: 8px 0 -24px 0;
  padding: 0;
  color: #c00;
}

footer {
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
}

footer a {
  margin: 0;
  border: 0;
  outline: 0;
}

footer img {
  margin: 20px 0 0 0;
  border: 0;
  outline: 0;
  width: 150px;
}

#edit-page-nav {
  border: 0;
}

#edit-page-nav .mode {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  float: right;
}

#edit-page-nav li.active a {
  cursor: text;
  background-color: #faba42;
}




/* LOGIN PAGE */
.login-description {
  margin: 30px 30px 15px 30px;
  text-align: center;
  width: 100%;
}

.login-description h2 {
  line-height: 1.3em;
  display: block;
}

.loginbox
{
  display: block;
  width: 500px;
  margin: 0 30px 0 0;
  padding: 0;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ccc;
}
.loginbox h2
{
  margin: 0 !important;
  padding: 5px 10px !important;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  background: #e0e0e0;
  font-weight: bold !important;
  font-size: 14px !important;
  color: black;
}
.loginbox .content
{
  margin: 0;
  padding: 10px 10px 0 10px;
  border: 0;
  min-height: 10px !important;
  box-shadow: none;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.loginbox .seperator
{
  margin: 20px 0;
  padding: 0;
  border: 0;
  border-top: 1px dotted #999;
  background-color: #fff;
}

.loginbox .fieldwrapper
{
  margin: 0 0 10px 10px;
  padding: 0;
  border: 0;
}
.loginbox .fieldwrapper label
{
  display: block;
  font-weight: bold;
  color: #666;
  font-size: 12px;
}

.loginbox .fieldwrapper input {
  width: 250px;
  margin: 2px 0;
  padding: 3px;
  border: 0;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  font: bold 12px arial, helvetica, verdana, sans-serif;
}

.loginbox .fieldwrapper input:focus
{
  border: 1px solid #06f;
  background-color: #fff;
}

.loginbox .regbutton
{
  cursor: pointer;
  padding: 4px 17px;
  margin: 0 0 10px 10px;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  background: -moz-linear-gradient(top, #fff, #e6e6e6);
  font: bold 14px arial, helvetica, verdana, sans-serif !important;
  text-transform: uppercase;
}
.loginbox .regbutton:hover
{
  border: 1px solid #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);
}
.loginbox .regbutton:active
{
  border: 1px solid #006666;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#669999));
  background: -moz-linear-gradient(top, #fff, #669999);
}

.loginbox .smalltxt
{
  font-size: 11px;
}

.errornote {
  background: url("/media/img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
  border: 1px solid #c00 !important;
  display: block;
  font-size: 11px !important;
  margin: 0 0 10px 0;
  padding: 5px 5px 5px 10px !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  line-height: 140%;
}


@media (min-width: 768px) {
  .container-header,
  .container-pl,
  .container-banner { 
      background: url('/media/img/bg-sdw-750.png');
      padding: 0 6px;
  }
}

@media (min-width: 992px) {
  .container-header,
  .container-pl,
  .container-banner { 
      background: url('/media/img/bg-sdw-970.png');
      padding: 0 6px;
  }
  .module-overview .sidenav {
    border-right: 1px dotted #ddd;
  }
  .module-labs .col-md-labs {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .container-header,
  .container-pl,
  .container-banner  { 
      background: url('/media/img/bg-sdw-1170.png');
      padding: 0 6px;
  }
  .module-labs .col-md-labs {
    width: 25%;
  }
}


/* OVERVIEW SECTION MENU OVERRIDE FOR SMALL DEVICES */

.overview-sectionmenu {
  border: 0;
  margin: 30px 0 0 0;
  padding: 0;
}

.overview-sectionmenu div.menu-item {
  border: 0;
  margin: 0;
  padding: 1px 0px 7px 15px;
  font-size: 13px;
  line-height: 15px;
  border: 0;
}

.overview-sectionmenu div.menu-3 {
  margin-left: 15px;
}

.overview-sectionmenu div.menu-4 {
  margin-left: 30px;
}

.overview-sectionmenu div.menu-5 {
  margin-left: 45px;
}

.overview-sectionmenu .menu-active {
  font-weight: bold;
  color: #c60;
  /* color: #c00; */
  background: transparent url('/media/img/bg-menu-caret.png') 0px 2px no-repeat;
}

.menu-unlocked {
  font-weight: normal;
}

.menu-locked {
  font-weight: normal;
  color: #999;
}

.sectionmenu-ul {
  margin: 0;
  padding: 0;
}

.sectionmenu-ul li {
  list-style: none;
}

.sectionmenu-ul ul {
  margin: 0 0 0 0;
  padding: 0;
}

.navbar-sectionmenu {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar-header-sectionmenu {
  float: none;
}

.navbar-toggle-sectionmenu {
  float: none;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: #c00;
  background-color: #fbe7a2;
  border: 1px solid #f90 !important;
  margin-bottom: 0px;
}

.navbar-toggle-sectionmenu:focus,
.navbar-toggle-sectionmenu:hover {
  outline: none;
  background-color: #fbe7a2 !important;
}

.navbar-sectionmenu .navbar-collapse {
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.imageblock {
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .navbar-toggle-sectionmenu {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-toggle-sectionmenu {
    display: none;
  }
}



@media (min-width: 768px) {
  .overview-sectionmenu {
    margin: 10px 0 20px 0;
  }
  .navbar-sectionmenu .navbar-collapse {
    width: auto;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: none;
    margin-top: -1px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .navbar-sectionmenu .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .sectionmenu-ul {
    margin-top: 10px;
  }
  .overview-sectionmenu div.menu-item {
    padding: 0px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #ccc;
  }
  .overview-sectionmenu div.menu-3,
  .overview-sectionmenu div.menu-4,
  .overview-sectionmenu div.menu-5
  {
    margin-left: 0;
  }
  .overview-sectionmenu div.menu-item a,
  .overview-sectionmenu div.menu-item span {
    display: block;
    padding: 10px 0px 10px 15px;
  }
  .overview-sectionmenu div.menu-2 a,
  .overview-sectionmenu div.menu-2 span 
  {
    margin-left: 10px;
  }
  .overview-sectionmenu div.menu-3 a,
  .overview-sectionmenu div.menu-3 span 
  {
    margin-left: 30px;
  }
  .overview-sectionmenu div.menu-4 a,
  .overview-sectionmenu div.menu-4 span 
  {
    margin-left: 50px;
  }
  .overview-sectionmenu div.menu-5 a,
  .overview-sectionmenu div.menu-5 span 
  {
    margin-left: 70px;
  }
  .overview-sectionmenu .menu-active {
     background: #fff4d3 url('/media/img/bg-menu-caret.png') 10px center no-repeat;
  }
}

@media (min-width: 992px) {
  .overview-sectionmenu {
    margin: 30px 0 0 0;
  }
  .navbar-sectionmenu .navbar-collapse {
    width: auto;
    border: 0;
    box-shadow: none;
  }
  .navbar-sectionmenu .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-sectionmenu .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-sectionmenu .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .navbar-sectionmenu .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-sectionmenu .navbar-collapse .navbar-text:last-child {
    margin-right: 0;
  }
  .sectionmenu-ul {
    margin-top: 0px;
  }
  .overview-sectionmenu div.menu-item {
    padding: 1px 0px 7px 15px;
    font-size: 13px;
    line-height: 15px;
    border-bottom: 0;
  }
  .overview-sectionmenu div.menu-2 {
    margin-left: 0px;
  }
  .overview-sectionmenu div.menu-3 {
    margin-left: 15px;
  }
  
  .overview-sectionmenu div.menu-4 {
    margin-left: 30px;
  }
  
  .overview-sectionmenu div.menu-5 {
    margin-left: 45px;
  }
  .overview-sectionmenu div.menu-item a,
  .overview-sectionmenu div.menu-item span {
    display: inline;
    padding: 0;
    margin: 0 !important;
  }
  .overview-sectionmenu .menu-active {
    background: transparent url('/media/img/bg-menu-caret.png') 0px 2px no-repeat;
  }
}



/* TABLE IN CONTENT */

table
{
  margin: 0 0 1em 0;
  padding: 0;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 100%;
}

table tbody
{
  border: 0;
}

th
{
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 5px;
  background-color: #efefef;
}

td
{
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 5px;
}

table td.noborder
{
  border-bottom: 0;
}

table th.tabletitle
{
  margin: 0;
  padding: 5px 3px;
  font-size: 1.1em;
  color: #000;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #caddf0;
}

td.figurenotes {
  font-size: 11px;
  line-height: 150%;
}

/* ***** Lab Tests ***** */

.labtests
{
  border: 1px solid #999;
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
  border-collapse: collapse;
  font-size: 12px;
}

.labtests th
{
  margin: 0;
  padding: 5px 15px;
  border: 0;
  border-bottom: 1px solid #999;
  border-collapse: collapse;
  background-color: transparent;
}

.labtests th.submitstate
{
  border: 0;
}

.labtests td
{
  margin: 0;
  padding: 5px 15px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  border-collapse: collapse;
}

.labtests .centered
{
  text-align: center;
}

.labtests .grey
{
  background-color: #efefef;
}

.yours
{
  color: #090;
}

.expert
{
  color: #06c;
}

.actionplan
{
  margin: 0;
  padding: 0 0 1em 0;
  border: 0;
  list-style: none;
}

.actionplan li {
  line-height: 200%;
}

.actionplan input[type='radio'] {
  padding-right: 5px;
  margin-right: 5px;
}

.pullquote {
  width: 250px;
  background-color: #fef0c1;
  float: right;
  margin: 5px 0px 5px 5px;
  padding: 10px;
}

.pullquote h3 {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 14px 0;
  padding: 0;
  color: #c00;
}

/* Case quizzes */

.cases
{
  margin: 1em 0;
  padding: 0;
  border: 1px solid #999;
}

.casetitle
{
  background-color: #f2e6d8;
  margin: 0;
  padding: 5px 10px;
  border: 0;
  font-weight: bold;
}

.casecontent
{
  margin: 10px;
  padding: 0;
  border: 0;
  margin-top: 0;
  padding-top: 10px;
}

.casequestion
{
  margin: 0;
  padding: 0;
  border: 0;
}

.casequestion input[type='radio'] {
  padding-right: 5px;
  margin-right: 5px;
}

.cases li
{
  margin: 2px 0;
}

.casesanswerdisplay
{
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  line-height: 18px;
}

.moretoggle
{
  font-weight: bold;
}

.answer-toggle-btn
{
  font-weight: bold;
  color: #c60;
  text-decoration: none;
  cursor: pointer;
}

.answer-toggle-btn:hover
{
  color: #c00 !important;
  text-decoration: none;
}

.answer-toggle-btn:active
{
  color: #c00;
  text-decoration: none;
}

div.toggleable-box {
  margin-top: 14px;
  display: none;
}

.overview-quiz .cases
{
  border-top: none;
  margin-top: 0;
}

.overview-quiz .casetitle
{
  display: none;
}

.overview-quiz h3
{
  background-color: #f2e6d8;
  margin: 0;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid #999;
  border-bottom: none;
  font-size: 14px;
  line-height: 140%;
}


ul.pager {
  margin-top: 50px;
}

.flashanimation {
  border: 1px solid #ccc;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* USER-SURVEY */

.survey-incomplete .survey-instructions {
  display: block;
}

.survey-incomplete .survey-acknowledged {
  display: none;
}

.survey-complete .survey-instructions {
  display: none;
}

.survey-complete .survey-acknowledged {
  display: block;
}

.survey-complete .invitation {
  margin-top: 20px;
  font-size: 18px;
}

.user-survey .cases {
  margin-top: 20px;
  border: none;
}

.user-survey .casetitle {
  display: none;
}

.user-survey .casequestiontext {
  font-size: 18px;
}

.user-survey .caseanswers ol,
.user-survey .caseanswers ul {
  list-style: none;
}

.user-survey input[type='submit'] {
  margin-top: 20px;
  margin-left: 15px !important;
}

.pedialabs-toc {
  border: none;
  margin-left: 10px;
  width: 290px;
}

.pedialabs-csv {
  border: none;
  margin: 0;
}

.pedialabs-toc a {
  color: #c60;
  width: 75px;
}

.pedialabs-toc a:hover
{
  color: #c00 !important;
  text-decoration: none;
}

.pedialabs-toc a:active
{
  color: #c00;
  text-decoration: none;
}

.pedialabs-toc a:visited
{
  color: #c60;
  text-decoration: none;
}

.pedialabs-toc td {
  border: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-collapse: collapse;
}

.pedialabs-csv td {
  border: none;
}

.pedialabs-toc .btn-warning {
  background-color: #ffd97e;
}


.icon-action {
  width: 31px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-edit {
  width: 31px;
  height: 31px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('/media/img/icon-edit.png') no-repeat 0px 0px;
}

.icon-report {
  width: 31px;
  height: 31px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('/media/img/icon-report.png') no-repeat 0px 0px;
}

.icon-download {
  width: 31px;
  height: 31px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('/media/img/icon-download.png') no-repeat 0px 0px;
}

#getFlash {
  background: #e1f0ef url("/media/img/icon-warning.png") no-repeat 5px 5px;
  padding: 10px;
  padding-left: 90px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: none;
  margin: 20px 0;
}

#getFlash h3 {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 26px;
  color: #c00;
}

#getFlash h4 {
  margin: 5px 0 10px 0;
  padding: 0;
  font-size: 18px;
}

#getFlash p {
  margin-bottom: 0;
}

/* LABS MENU */

.labs-sectionmenu div.menu-item {
  border: 0;
  margin: 0;
  padding: 1px 0px 7px 15px;
  font-size: 13px;
  line-height: 15px;
  border: 0;
}

.labs-sectionmenu .menu-active {
  font-weight: bold;
  color: #c60;
}

.labs-sectionmenu .menu-unlocked a {
  font-weight: normal;
}

.labs-sectionmenu .menu-locked {
  font-weight: normal;
  color: #999;
}

.lab-report-index {
  border: 1px solid #999;
  border-collapse: collapse;
}

.lab-report-index th {
  padding-right: 20px;
}

.lab-report-index td {
  border: 0;
  padding-right: 10px;
}


.lab-report-index tr.odd td {
  background-color: #fff5d5;
}

.labtest-report span {
  display: block;
}

.incorrect {
  color: #090;
  background-color: pink;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #ffe082;
}

