html {
  background-color: #efefef;
}

body {
  background-color: #efefef;
  height: 100%;
}

body > .container {
  min-height: 100%;
}

#content {
  min-height: 100%;
}

a
{
	color: #c60;
	text-decoration: none;
}

a:hover
{
	color: #c00 !important;
	text-decoration: none;
}

a:active
{
	color: #c00;
	text-decoration: none;
}

a:visited
{
	color: #c60;
	text-decoration: none;
}

/* NAV BAR NEAR TOP PAGE BANNER */

.navbar-pl {
  background-color: #c33;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 20px;
}

.navbar-pl a {
  color: #fae2b6 !important;
}

.navbar-pl a:hover {
  color: #fff !important;
}

.navbar-pl a:hover .glyphicon-home {
  color: #fae2b6 !important;
}

.navbar-pl .navbar-toggle {
  border: 0;
  color: #000;
}

.navbar-pl .navbar-toggle:hover {
  background-color: #fae2b6;
  border: 0;
  color: #000;
}

.navbar-pl .navbar-toggle:hover .icon-bar {
  background-color: #000;
}

.navbar-nav-pl {
  margin: 0;
  padding: 0;
}

.navbar-nav-pl>li>a {
  font-size: 13px;
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav-pl>li>a.btn-log-in {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  font-weight: 500;
  color: #fff !important;
}

.navbar-nav-pl>li>a.btn-log-in:hover {
  background-color: #fef0c1;
  color: #c33 !important;
}

li.logged-in-greeting {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border-right: 1px solid #fae2b6;
}

li.logged-in-greeting a {
  margin: 0;
  padding: 0;
  display: inline;
}

li.logged-in-greeting a span div {
  white-space: nowrap !important;
}

.container-header,
.container-pl,
.container-banner { 
  padding: 0;
}

.content {
  background-color: #fff;
  padding: 10px 15px 50px 15px;
  box-shadow: 0 8px 8px -8px #333;
  border-bottom: 1px solid #9c9c9c;
  min-height: 600px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 200;
  padding-top: 8px;
  padding-bottom: 10px;
}

.navbar>.container .navbar-brand {
  margin-left: -5px;
}

.banner-pl {
  background-color: #fef0c1;
  border: 0;
  border-bottom: 1px solid #ffe082;
  height: 90px;
  margin: 0;
  padding: 0;
}

.banner-pl-bg {
  background: url('/media/img/bg-banner.png') center center no-repeat;
  height: 90px;
  border-bottom: 1px solid #fbba42;
}

.logo-pl {
  background: url('/media/img/bg-logo-pl.png') 10px 5px no-repeat;
  width: 393px;
  height: 86px;
}

.logo-pl a {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 393px;
  height: 86px;
}

.logo-pl a span {
  display: none;
}


.top-pagetitle {
  padding-bottom: 18px;
  color: #c00;
  font-size: 32px;
}


@media (min-width: 992px) {
  .top-pagetitle {
    margin-top: 0;
    padding-top: 0;
  }
}

footer {
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
}

footer a {
  margin: 0;
  border: 0;
  outline: 0;
}

footer img {
  margin: 20px 0 0 0;
  border: 0;
  outline: 0;
  width: 150px;
}

#edit-page-nav {
  border: 0;
}

#edit-page-nav .mode {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  float: right;
}

#edit-page-nav li.active a {
  cursor: text;
  background-color: #faba42;
}




/* LOGIN PAGE */
.login-description {
  margin: 30px 30px 15px 30px;
  text-align: center;
  width: 100%;
}

.login-description h2 {
  line-height: 1.3em;
  display: block;
}

.loginbox-container {
  float: right;
  height: 265px;
  margin-top: 10px;
}

.loginbox-container.columbia {
  height: 300px;
}
.loginbox
{
  display: block;
  width: 300px;
  margin: 0 30px 0 20px;
  padding: 0;
  border: 1px solid #999;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 12px;
}
.loginbox h2
{
  margin: 0 !important;
  padding: 5px 10px !important;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  background: #e0e0e0;
  font-weight: bold !important;
  font-size: 14px !important;
  color: black;
}
.loginbox .content
{
  margin: 0;
  padding: 10px 10px 0 10px;
  border: 0;
}

.loginbox .seperator
{
  margin: 20px 0;
  padding: 0;
  border: 0;
  border-top: 1px dotted #999;
  background-color: #fff;
}

.loginbox .fieldwrapper
{
  margin: 0 0 10px 10px;
  padding: 0;
  border: 0;
}
.loginbox .fieldwrapper label
{
  display: block;
  font-weight: bold;
  color: #666;
  font-size: 12px;
}

.loginbox .fieldwrapper input {
  width: 250px;
  margin: 2px 0;
  padding: 3px;
  border: 0;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  font: bold 12px arial, helvetica, verdana, sans-serif;
}

.loginbox .fieldwrapper input:focus
{
  border: 1px solid #06f;
  background-color: #fff;
}

.loginbox .regbutton
{
  cursor: pointer;
  padding: 4px 17px;
  margin: 0 0 10px 10px;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  background: -moz-linear-gradient(top, #fff, #e6e6e6);
  font: bold 14px arial, helvetica, verdana, sans-serif !important;
  text-transform: uppercase;
}
.loginbox .regbutton:hover
{
  border: 1px solid #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);
}
.loginbox .regbutton:active
{
  border: 1px solid #006666;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#669999));
  background: -moz-linear-gradient(top, #fff, #669999);
}

.loginbox .smalltxt
{
  font-size: 11px;
}

.errornote {
  background: url("/media/img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
  border: 1px solid #c00 !important;
  display: block;
  font-size: 11px !important;
  margin: 0 0 10px 0;
  padding: 5px 5px 5px 10px !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  line-height: 140%;
}


@media (min-width: 768px) {
  .container-header,
  .container-pl,
  .container-banner { 
      background: url('/media/img/bg-sdw-750.png');
      padding: 0 6px;
  }
}

@media (min-width: 992px) {
  .container-header,
  .container-pl,
  .container-banner { 
      background: url('/media/img/bg-sdw-970.png');
      padding: 0 6px;
  }
}

@media (min-width: 1200px) {
  .container-header,
  .container-pl,
  .container-banner  { 
      background: url('/media/img/bg-sdw-1170.png');
      padding: 0 6px;
  }
}


/* OVERVIEW SECTION MENU OVERRIDE FOR SMALL DEVICES */

.overview-sectionmenu {
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar-sectionmenu {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar-header-sectionmenu {
  float: none;
}


.navbar-toggle-sectionmenu {
  float: none;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: #c00;
  background-color: #fbe7a2;
  border: 1px solid #f90 !important;
}

.navbar-toggle-sectionmenu:focus,
.navbar-toggle-sectionmenu:hover {
  outline: none;
  background-color: #fbe7a2 !important;
}

.navbar-sectionmenu .navbar-collapse {
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-toggle-sectionmenu {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-toggle-sectionmenu {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-sectionmenu .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-sectionmenu .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

@media (min-width: 992px) {
  .navbar-sectionmenu .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-sectionmenu .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-sectionmenu .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-sectionmenu .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .navbar-sectionmenu .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-sectionmenu .navbar-collapse .navbar-text:last-child {
    margin-right: 0;
  }
}


/* ***** Lab Tests ***** */

.labtests
{
	border: 0;
	border-top: 3px solid #999;
	border-bottom: 3px solid #999;
}

.labtests th
{
	margin: 0;
	padding: 5px 15px;
	border: 0;
	border-bottom: 1px dotted #999;
}

.labtests td
{
	margin: 0;
	padding: 5px 15px;
	border: 0;
	border-bottom: 1px dotted #999;
}

.labtests .grey
{
	background-color: #efefef;
}

.actionplan
{
	margin: 0;
	padding: 0 0 1em 0;
	border: 0;
	list-style: none;
}

