.labs-sectionmenu div.menu-3 {
  margin-left: 0px;
  display: none;
}

.labs-sectionmenu  div.menu-4 {
  margin-left: 15px;
  display: none;
}

.labs-sectionmenu div.menu-5 {
  margin-left: 30px;
  display: none;
}

