{% extends 'base.html' %}

{% block title %}
  {% if request.user.is_anonymous %}
    Home
  {% else %}
    Dashboard
  {% endif %}
{% endblock %}

{% block first-column %}hide{% endblock %}

{% block second-column %}col-md-12{% endblock %}

{% block content %}
<h1>Welcome to PediaLabs</h1>
<p>PediaLabs is a series of web based lab modules designed to improve the graduate nursing and medical student’s understanding of lab tests throughout childhood and adolescence. Using a case study approach, this curriculum will allow the student to improve clinical skills in ordering and evaluating lab tests as well as develop differential diagnosis skills.</p>

<p>You can log in to go through the lab exercises or visit the <a href="/pages/public/overview/">Overview</a> site to read the background of the Labs.</p>

<p><a href="/pages/labs/cbc/">CBC lab</a></p>

{% if request.user.is_staff %}
<p>The first thing you'll want to do is go to
	the <a href="/pages/labs/edit/">Edit Labs page</a> or  <a href="/pages/public/edit/">Edit Overview page</a>.</p>


{% endif %}
{% endblock %}
