{% extends 'base.html' %}

{% block title %}
Instructor Report {{module.label}}
{% endblock %}

{% block parent-module %}{% endblock %}

{% block first-column %}hide{% endblock %}

{% block second-column %}col-md-10{% endblock %}

{% load markup %}
{% load getlabresponse %}

{% block content %}
<h1 class="top-pagetitle">Lab Exercise Reports</h1>


<h4>Student: {{student.first_name}} {{student.last_name}}<br />
Lab: {{module.label}}</h4>







{% if not lab_section %}
<div>Please select an exercise to view {{student.first_name}}’s responses.
{% else %}
<div>Please select another exercise to view {{student.first_name}}’s responses:
{% endif %}


<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    Report for... <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {% for lab in labs %}
    <li><a href="?lab={{lab.id}}">{{lab.label}}</a></li>
  {% endfor %}
  </ul>
</div>
</div>


{% if lab_section %}
<hr />
<h3>Report for {{lab_section.label}}</h3>

{{lab_block.description|markdown}}

{% if taken %}
<table cellpadding="0" cellspacing="0" class="labtests labtest-report">
  <tr>
    <th class="submitstate">TEST</th>
    <th colspan="3" class="grey centered submitstate">RESULT</th>
    <th class="submitstate">RANGE</th>
    <th class="grey submitstate">UNIT</th>
    <th colspan="2" class="centered submitstate">ABNORMALITY</th>
  </tr>

  <tr>
    <th>&nbsp;</th>
    <th class="grey">&nbsp;</th>
    <th class="grey yours">Student's Response:</th>
    <th class="grey expert">Expert's Response:</th>
    <th>&nbsp;</th>
    <th class="grey">&nbsp;</th>
    <th class="yours">Student's Response:</th>
    <th class="expert">Expert's Response:</th>
  </tr>

{% for test in lab_block.test_set.all %}
{% getstudenttestresponse test student as tr %}
  <tr>
    <td>
      {{test.name}}
    </td>
    <td class="grey">
      {{test.result}}
    </td>
    <td class="grey yours">
      {% if not tr.correct_level %}
      <span class="incorrect">
      {% endif %}

      {{tr.result_level|capfirst}}
      {% if not tr.correct_level %}
      </span>
      {% endif %}

    </td>
    <td class="grey expert">
      {{test.result_level|capfirst}}
    </td>
    <td>
      {{test.normal_range}}
    </td>
    <td class="grey">
      {{test.unit}}
    </td>
    <td class="yours {% if not tr.correct_abnormality %}">
      
      <span class="incorrect">
      {% endif %}
      {{tr.abnormality|capfirst}} 
      {% if not tr.correct_abnormality %}
      </span>
      {% endif %}
    </td>
    <td class="expert">
      {% ifnotequal test.abnormality 'none' %}
        {{test.abnormality|capfirst}}
      {% else %}
        No abnormality
      {% endifnotequal %}
    </td>
  </tr>
{% endfor %}
</table>

<h3>Action Plan:</h3>
{% getstudentactionplanresponse lab_block student as apr %}
<p class="yours">
  {% if apr.action_plan %}
    {% if not apr.correct_action_plan %}
    <b>Student's response:</b> 
    <span class="incorrect">
    {% endif %}
    {{apr.action_plan}}
    {% if not apr.correct_action_plan %}
    </span>
    {% endif %}
  {% else %}
    <span class="incorrect"><b>Student has not selected an action plan.</b></span>
  {% endif %}
</p>
<p class="expert">Expert's response: {{lab_block.correct_actionplan}}</p>


{% if lab_block.assessment %}
<h3>What is your assessment of this child?</h3>
<p class="yours"><b>Student's assessment: </b><br />{{apr.assessment}}</p>
{% comment %}<p class="expert">Expert's assessment</p>{% endcomment %}
{% endif %}

{% else %}
<p>{{student.first_name}} has not submitted a response for this exercise yet.</p>
{% endif %}

{% endif %}

<ul class="pager">
  <li class="previous">
		<a href="/instructor/">Return to Reports</a>
  </li>
</ul>

{% endblock %}
