{% extends 'pagetree/page.html' %}
{% load render %}
{% load accessible %}
{% block pagetitle %}<h1 class="top-pagetitle">{{section.label}}</h1>{% endblock %}


{% block bodyclass %}{% ifequal module.slug 'survey' %}user-survey survey-{% if is_submitted %}complete{% else %}incomplete{% endif %}{% else %}module-labs{% endifequal %}{% endblock %}


{% block first-column %}{% ifequal module.slug 'survey' %}hide{% else %}{{ block.super }} col-md-labs{% endifequal %}{% endblock %}


{% block pagemode %}
  {% comment %}
    This is the view/edit/instructor buttons for superusers and faculty
  {% endcomment %}
  {% if request.user.is_superuser %}
  <div id="edit-page-nav" class="clearfix">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="{{section.get_absolute_url}}">View</a></li>
      <li><a href="{{section.get_edit_url}}">Edit</a></li>
    </ul>
    <div class="mode">
      page mode:
    </div>
  </div><!-- #edit-page-nav -->
  {% endif %}
{% endblock %}


{% block sidenav %}
  <!-- ###### Secondary (Section) Navigation ###### -->
    {% include "pagetree/menu_labs.html" %}
{% endblock %}


{% block content-nav %}  
  
  {% ifequal module.slug 'survey' %}
    {% if is_submitted %}
    <p class="invitation">Let's begin with the lab exercises for <a href="{{section.get_next.get_absolute_url}}">{{section.get_next.label}} (CBC)</a>.</p>
    {% endif %}
  {% else %}
  <ul class="pager">
    {% if section.get_previous %}
    <li class="previous">
      <a href="{{section.get_previous.get_absolute_url}}">&larr; {{section.get_previous.label}}</a>
    </li>
    {% endif %}
    
    {% if section.get_next %}
      {% with section.get_next as next_section %}
      <li class="next">
        {% if next_section.is_root %}
          {% if is_submitted %}
            <a href="/"><span class="glyphicon glyphicon-home"></span> Dashboard &rarr;</a>
          {% else %}
            <span><img src="{{STATIC_URL}}img/lock.png">&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span> Dashboard &rarr;</span>
          {% endif %}
        {% else %}
          {% ifaccessible next_section %}
            <a href="{{section.get_next.get_absolute_url}}">{{section.get_next.label}} &rarr;</a>
          {% else %}
            <span><img src="{{STATIC_URL}}img/lock.png">&nbsp;&nbsp;{{section.get_next.label}} &rarr;</span>
          {% endifaccessible %}
        {% endif %}
    </li>
      {% endwith %}
    {% endif %}
  </ul>
  {% endifequal %}
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/sidemenu.js"></script>
{% endblock %}
