{% load accessible %}
<div class="sectionmenu">
  <div class="navbar navbar-default navbar-sectionmenu" role="navigation">

    <!-- ## Menu header on Tablets ## -->
    <div class="navbar-header navbar-header-sectionmenu">
      <button type="button" class="navbar-toggle navbar-toggle-sectionmenu" data-toggle="collapse" data-target="#sectionmenu">
        <span class="sr-only">Toggle navigation</span>
        <span> {{module.label}} Sections</span> <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </div><!-- /.navbar-header-sectionmenu -->
    <!-- ## /Menu header on Tablets ## -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="sectionmenu">
      <div class="menu-items">
      {% ifequal section.id module.id %}
        <div class="menu-item menu-active  menu-{{module.depth}}" data-depth="{{module.depth}}"><span>{{module.label}}</span></div>
      {% else %}
        <div data-depth="{{module.depth}}" class="menu-item menu-{{module.depth}}">
        {% ifequal menu_base "/edit" %}
          <a href="{{module.get_edit_url}}">{{module.label}}</a>
        {% else %}
          <a href="{{module.get_absolute_url}}">{{module.label}}</a>
        {% endifequal %}
        </div>
      {% endifequal %}
            {% for s in menu %}
                <div class="menu-item menu-{{s.depth}}{% if s.disabled %} menu-locked{% endif %}{% if s.toggle %} menu-toplevel{% endif %}{% ifequal s.id section.id %} menu-active{% endifequal %}" data-depth="{{s.depth}}">
                <a href="{{s.url}}">{{s.label}}</a>
                </div>
            {% endfor %}
      </div>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.navbar-sectionmenu -->
</div><!-- /.sectionmenu -->

{% comment %}
<div><a href="{{menu_base}}{{s.get_absolute_url}}">
              {{s.label}}
              </a></div>
{% endcomment %}
