<div class="overview-sectionmenu">
<div class="navbar navbar-default navbar-sectionmenu" role="navigation">
  <div class="navbar-header navbar-header-sectionmenu">
    <button type="button" class="navbar-toggle navbar-toggle-sectionmenu" data-toggle="collapse" data-target="#sectionmenu">
      <span class="sr-only">Toggle navigation</span>
      <span> Overview Sections</span> <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="sectionmenu">

 



    <div class="sectionmenu-ul">
    {% ifequal section.id module.id %}
      <div class="menu-item menu-{{module.depth}} menu-active"><span>{{module.label}}</span></div>
    {% else %}
      
        {% ifequal menu_base "/edit" %}
        <div class="menu-item menu-{{module.depth}}"><a href="{{module.get_edit_url}}">
        {% else %}
        <div class="menu-item menu-{{module.depth}}"><a href="{{module.get_absolute_url}}">
        {% endifequal %}
        {{module.label}}</a></div>
    {% endifequal %}
    
    {% for s in module.get_descendants %}
      {% ifequal s.id module.id %}
      {% else %}
        {% ifnotequal s.id section.id %}
          <div class="menu-item menu-{{s.depth}}">
          {% ifequal menu_base "/edit" %}
            <a href="{{s.get_edit_url}}">
          {% else %}
            {% ifequal menu_base "/instructor" %}
              <a href="{{s.get_instructor_url}}">
            {% else %}
              <a href="{{menu_base}}{{s.get_absolute_url}}">
            {% endifequal %}
          {% endifequal %}
        {% else %}
          <div class="menu-item menu-{{s.depth}} menu-active"><span>
        {% endifnotequal %}
        {{s.label}}
        {% ifnotequal s.id section.id %}
          </a>
        {% else %}
          </span>
        {% endifnotequal %}
        </div>
      {% endifequal %}
    {% endfor %}
    </div>
  </div><!-- /.navbar-collapse -->
</div>
</div>