{% extends 'pagetree/page.html' %}
{% load render %}
{% block title %}Overview &mdash; {{section.label}}{% endblock %}
{% block pagetitle %}<h1 class="top-pagetitle">{{section.label}}</h1>{% endblock %}

{% block pagemode %}
{% if request.user.is_superuser %}
    <div id="edit-page-nav" class="clearfix">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="{{section.get_absolute_url}}">View</a></li>
        <li><a href="{{section.get_edit_url}}">Edit</a></li>
      </ul>
      <div class="mode">
        page mode:
      </div>
    </div><!-- #edit-page-nav -->
{% endif %}
{% endblock %}


{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        {% if module.get_children %}
        {% include "pagetree/menu_overview.html" %}
        {% endif %}
{% endblock %}


