{% extends 'pagetree/page.html' %}
{% load render %}
{% block title %}Overview &mdash; {{section.label}}{% endblock %}
{% block pagetitle %}<h1 class="top-pagetitle">{{section.label}}</h1>{% endblock %}

{% block pagemode %}
{% if request.user.is_superuser %}
    <div id="edit-page-nav" class="clearfix">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="{{section.get_absolute_url}}">View</a></li>
        <li><a href="{{section.get_edit_url}}">Edit</a></li>
      </ul>
      <div class="mode">
        page mode:
      </div>
    </div><!-- #edit-page-nav -->
{% endif %}
{% endblock %}


{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        {% if module.get_children %}
        {% include "pagetree/menu_overview.html" %}
        {% endif %}
{% endblock %}

{% block content-nav %}
{% with previous=section.get_previous next_section=section.get_next %}
<ul class="pager">
{% if previous %}
  <li class="previous">
		<a href="{{previous.get_absolute_url}}">&larr; {{previous.label}}</a>
  </li>
{% endif %}

{% if next_section %}
  <li class="next">
  {% if next_section.is_root %}
    <a href="/"><span class="glyphicon glyphicon-home"></span> {% if request.user.is_anonymous %}Home{% else %}Dashboard{% endif %} &rarr;</a>
  {% else %}
  <a href="{{next_section.get_absolute_url}}">{{next_section.label}} &rarr;</a>
  {% endif %}
  </li>
{% endif %}

</ul>
{% endwith %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{STATIC_URL}}js/sidemenu.js"></script>
{% endblock %}
