{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block first-column %}hide{% endblock %}
{% block second-column %}col-md-12{% endblock %}


{% block content %}
<h1 class="top-pagetitle">Oops, there’s a missing page...</h1>
<p>
 We’re sorry. The page you’re looking for can’t be found. It could be that the page has been moved or deleted. To be sure, please check the URL for errors.
</p>
<p class="pedialabs-toc">
  <a href="/" class="btn btn-sm btn-warning">Return to PediaLabs homepage</a>
</p>
{% endblock %}
